{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-bitwise": "off",
    "prefer-destructuring": [
      "error",
      {
        "AssignmentExpression": {
          "array": false
        }
      }
    ],
    "no-param-reassign": "off"
  }
}
